[Unit]
Description = hoge hoge
After=local-fs.target
ConditionPathExists = /opt/pulse_meter/bin

[Service]
ExecStart= /opt/pulse_meter/bin/mesure.sh
Restart=no
Type=simple

[Install]
WantedBy=multi=user.target