[Unit]
Description = hoge
After=local-fs.target
ConditionPathExists = /opt/sakulab_ex_module/src

[Service]
ExecStart=/opt/sakulab_ex_module/src/start_program.sh
Restart=no
Type=simple

[Install]
WantedBy=multi-user.target