[Unit]
Description = hoge
After=remote-fs.target
ConditionPathExists = /opt/sakulab_ex_module/src

[Service]
ExecStart=/opt/sakulab_ex_module/src/start_program.sh
Restart=no
Type=idle

[Install]
WantedBy=multi-user.target